* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

.flex-container, .input-container {
  display: flex;
  flex-direction: column;
}
.flex-container {
  align-items: center;
  margin-top: 50px;
}
.input-container {

  width: 150px;
}

.input-container * {

margin: 10px 0;

}
#board div {
    width: 10px;
    height: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    float: left;

}

#board > .live {
    background-color: #668c99;
}

#board > .live:nth-of-type(even) {

  background-color: #3c3c3c;
}

#board {
    margin: 50px auto 0;
    min-height: 100px;
    min-width: 100px
}

#game-set {
margin: 0 auto;
width: 40%;
display: flex;
justify-content: center;

}

#game-set button {

  margin: 10px;
}

button {

  background: #010048;
  color: white;
  font-weight: 600;
  padding: 10px;
}
